{% extends '@App/base.html.twig' %}


         {% block content %}
<div class="row">
             <div class="col-xs-3 search-pane">
                 <form method="get" name="search" action="{{ path('search') }}">
                     <div class="box box-primary">
                         <div class="box-header">
                             <i class="fa fa-file-text-o"></i>
                             <h3 class="box-title">Поиск</h3>
                         </div>
                         <div class="box-body search-box">
                             <div class="form-group">
                                 <label>Серия</label>
                                 <input name="search[series]" type="text" class="form-control" placeholder="Серия"
                                        value=""/>
                             </div>

                             <div class="form-group">
                                 <label>Номер</label>
                                 <input name="search[number]" type="text" class="form-control" placeholder="Номер"
                                        value=""/>
                             </div>
                             <div class="form-group">
                                 <label>Дата выпуска</label>
                                 <div class='input-group date_search' id='mf-date'>
                                     <input type='text' name="search[started]" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                  </div>
                             </div>
                             <div class="form-group">
                                 <label>Дата окончания</label>
                                 <div class='input-group date_search' id='mf-date'>
                                     <input type='text' name="search[finished]" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label>Статус</label>
                                 <select name="search[status]" class="form-control">
                                     {% for key,i in  statusCards %}
                                         <option value="{{ key }}">{{ i }}</option>
                                     {% endfor %}
                                 </select>
                             </div>
                         </div>

                         <div class="box-footer">
                             <div class="form-group center-buttons">
                                 <button id="btn-search" class="btn btn-primary" type="submit">
                                     <i class="fa fa-search"></i> Найти</button>
                             </div>
                         </div>
                     </div>
                 </form>
             </div>


             <div class="col-xs-9 content-pane">
                 <div class="box box-primary">
                     <div class="box-header">
                         {#<h4 class="box-title">{% if search %}Найденые{% else %}Все{% endif %} материалы</h4>#}
                     </div>
                     <div class="box-body content-box">
                         <table class="table table-hover" style="font-size: 12pt;">
                             <thead>
                             <tr>
                                 <th style="min-width: 32px;">Серия</th>
                                 <th>Номер</th>
                                 <th style="max-width: 40px;"> Дата выпуска</th>
                                 <th style="max-width: 40px;">Дата окончания</th>
                                 <th>Статус</th>
                             </tr>
                             </thead>
                             <tbody>
                                {% for c in pagination %}
                                     <tr>
                                         <td>{{ c.seriesCard.number }}</td>
                                         <td>{{ c.number }}</td>
                                         <td>{{ c.seriesCard.started |date('m-d-Y H:i') }}</td>
                                         <td>{{ c.seriesCard.finished |date('m-d-Y H:i') }}</td>
                                         <td>{{ statusCards[c.status] }}</td>
                                     </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     </div>
                     <div class="box-footer table-footer">
                         <div class="row">
                             <div class="col-md-2"></div>
                             <div class="col-md-10">
                                 <div class="dataTables_paginate paging_bootstrap">
                                     {{ knp_pagination_render(pagination) }}
                                 </div>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

</div>
         {% endblock %}



{% block stylesheets %}



{% endblock %}
